/* Navbar Styling */

.navbar-fixed-top{
  width:100% !important;
  min-width: 768px;
  /*left:-15px;*/
}

.navbar-inner{
  background-color: #1a1a1a;
  font-style: Helvetica, sans-serif;
  border: none;
  background-image: none;
  min-height:70px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: absolute;
  z-index: 1030;
  margin-bottom: 0;
  height: 70px;
}

.navbar-inverse .container .navbar-text{
  text-align: left;
  color: #fff;
  font-size: 16px;
  margin: 24px 15px;
  max-width: 40%;
}

.navbar-fixed-bottom .navbar-inner {
  border-width: 1px 0 0;
}

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-right: 0;
  padding-left: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 80%;
  height: 70px;
}

.navbar-fixed-top {
  top: 0;
  background-color:#1B1B1B;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.nav > li[role="navigation"] > a  {
  border-radius: 0px;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #fff;
}

.nav > li[role="navigation"] > a:hover,
.nav > li[role="navigation"] > a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: #404040;
}

.navbar-inverse .btn-link {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    width: 100%;
    text-align: left;
  }

.navbar-inverse .btn-link:hover{
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5
}

/* End Navbar Styling */

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

body {
  font-size: 20px;
  padding-top: 70px;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* RESULT PAGE */
#content-div {
  margin: 20px 50px;
}

#container {
  /*display: flex;*/
}

#wrapper {
  /*width: 1000px;*/
  /*height: 400px;*/
  /*overflow-x: auto;*/
  overflow-y: auto;
  order: 2;
  float: none;
}

#filter {
  font-size: 15px;
  width: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#table {
  float: none;
  order: 1;
  margin-top: 40px;
  display: none;
  margin-bottom: 50px;
}

.table {
  font-size: .7em;
}

#thead {
  /*display: block;*/
}

#tbody {
  /*display: block;*/
  height: 400px;
  overflow: auto;
}

/* scroll feature acquired from:
 * http://stackoverflow.com/questions/21168521/scrollable-table-with-fixed-header-in-bootstrap
 */
table {
  width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 30px;
  /*text-align: left;*/
}

tbody {
  /*height: 120px;*/
  overflow-y: auto;
}

thead {
  /* fallback */
}

tbody td, thead th {
  /*width: 19.2%;*/
  float: left;
}
/* end scroll feature */

.list-column {
  /*border-radius: 0 10px 10px 0;*/
}

/* BubblePack Styles */
.node {
  cursor: pointer;
}

.node--middle:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf:hover {
  stroke: blue;
  stroke-width: 1.5px;
}

.label {
  font: 11px Arial, sans-serif;
  font-weight: bold;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

/* help Dropdown */


/*  Depricated
.help {
  cursor: pointer;
}

.help-drop {
  width: 400px;
  display: none;
  background-color: skyblue;
  opacity: .9;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.help:active .help-drop {
  display: block;
}
*/

.help-div {
  padding: 10px 10%;
  width: 100% !important;
  background: #1ab7ea;
  display: none;
  overflow: auto;
  font-size: 16px;
}

.help-div > :first-child {
  width: 50%;
  float: left;
  color: white;
  margin-top: 10px;
  padding-right: 10px;
  text-align: justify;
}

.help-div > :first-child > h2{
  text-align: left;
  margin-top: 0;
  margin-bottom: 5px;
}

.help-div > :nth-child(2) {
  width: 50%;
  float: right;
  color: black;
  margin-top: 10px;
  padding-left: 10px;
  text-align: justify;
}

/* tooltip styling from: https://github.com/Caged/d3-tip */
.d3-tip {
  max-width: 300px;
  text-overflow: auto;

  /* For Firefox */
  white-space: pre-wrap;
  word-break: break-all;
  /* For Chrome and IE */
  word-wrap: break-word;

  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip.s:after {
  content: "\25B2";
  display: none;
}

/* axes styling retrieved from:
 * http://alignedleft.com/tutorials/d3/axes
 */
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* end axes styling */

label.filter-key {
  margin-right: 10px;
  margin-bottom: 0;
  font-weight: bold;
}

input.range {
  width: auto;
  border: 0;
  color: #325a7e;
  font-weight: bold;
}

div.ui-slider {
  margin-top: 0;
  margin-bottom: 10px;
}

div.ui-slider-horizontal {
  height: .5em;
}

.ui-slider .ui-slider-handle {
  width: .9em;
  height: .9em;
}

/* END RESULT PAGE */


h1 {

}
h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

label.btn span {
  font-size: 1.5em ;
}

/*label.btn{
  text-align: center;
}*/

div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}
div.list {
  overflow-y: auto;
  height: 250px;
}
div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 20px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
border: 0px solid
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
text-align: center;
}

.project {
  color: #337ab7;
}
