
body{
  font-family: 'Roboto Slab', serif;
}

/* Scroll feature acquired from:
 * http://stackoverflow.com/questions/21168521/scrollable-table-with-fixed-header-in-bootstrap
 */
table {
  width: 100%;
}
thead, tbody, tr, td, th { display: block; }
tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
thead th {
    height: 30px;
}
tbody {
    height: 225px;
    overflow-y: auto;
}
tbody td, thead th {
    width: 33%;
    float: left;
} 
/* end scroll feature */

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}
