<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}"> 
  <title>V3</title>
</head>

<body>
  <style> body{
    font-family: 'Roboto Slab', serif;
  }
  </style>

  <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="index">Home</a></li>
            <li role="presentation"><a href="about">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <a class="navbar-brand" href="/">V3</a>
      </div>    
  </nav>

  <h1>Not found</h1>
  	<p>Sorry, but the page you are trying to look for does not exist.</p>
    <p>Click <a href = "/"> here</a> to return to the home page.</p>

</body>
</html>