{% extends "layout.html" %}

{% block title %} Bad Request {% endblock %}

{% block head %}
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}"> 
{% endblock %}

{% block content %}

  <h1>Not found</h1>
  	<p>Sorry, but the page you are trying to look for does not exist.</p>
    <p>Click <a href="/"> here</a> to return to the home page.</p>

{% endblock %}