<!DOCTYPE html>
<html>
<head>
<title>Chart</title>
</head>
<body>
  <div id="wrapper"></div>
</body>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>
  var data = [];
  {% for v in dataValue %} data.push({{v}}); {% endfor %};

  var labels = [];
  {% for t in dataType %} labels.push("{{t}}"); {% endfor %};

  var height = 300, width = 500;
  var padding = 50;
      
  var plot = d3.select("#wrapper").append('svg')
      .attr('id', 'plot')
      .attr('height', height + padding * 2)
      .attr('width', width + padding * 2)
      .style('padding', padding)
      .append('g')
      .attr('id', 'viz')
      .attr('transform', 'translate(' + padding + ',' + padding + ')');
  
  var yScale = d3.scale.linear().range([height, 10]);
  var xScale = d3.scale.ordinal().domain(labels).rangePoints([0, width]);
  
  var yDomain = [0, d3.max(data)]
  yScale.domain(yDomain);
  
  var xAxis = d3.svg.axis()
        .scale(xScale)
        .orient("bottom")
        .ticks(6);
  var yAxis = d3.svg.axis()
        .scale(yScale)
        .orient("left")
        .ticks(3);
  
  plot.append("g")
        .attr('class', 'y axis')
        .call(yAxis);
  plot.append("g")
        .attr('class', 'x axis')
        .attr('transform', 'translate(0,' + height + ')')
        .call(xAxis);
  
  var dots = plot.selectAll('circle')
        .data(data)
        .enter()
        .append('circle');
  
  dots.attr('r', 5)
    .attr('cx', function(d, i) {
      return i * ((width/6) + 15) })
    .attr('cy', function(d) {
      return yScale(d) });
    
</script> 
</html>