<!DOCTYPE html>

<html>
<head>
 <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <script src = "../static/jquery-1.12.3.js"></script>
    <script src="../static/d3.min.js"></script>
    <script src="../static/bootstrap.js"></script>
    <link rel=stylesheet type=text/css href="../static/bootstrap.css">
    <link rel=stylesheet type=text/css href="../static/style.css">
	<title>V3 - Select an Analysis</title>
</head>

<body>

	<style> body{
	  font-family: 'Roboto Slab', serif;
	}
	</style>

	<nav class="navbar navbar-inverse" role="navigation">
	  <div class="container">
	    <nav>
	      <ul class="nav nav-pills pull-right">
	        <li role="presentation"><a href="index">Home</a></li>
	        <li role="presentation"><a href="#">About</a></li>
	        <li role="presentation"><a href="#">Contact</a></li>
	      </ul>
	    </nav>
	    <a class="navbar-brand" href="/">V3</a>
	  </div>    
	</nav>

<div class="form-group">
  <p><h2> Enter a repository clone link:</h2></p>
<!--   <h4> (Cloned repository will be added to the list below)</h4> -->
    <label class="sr-only" for="inputURL">URL Link</label>
    <input type="text" class="form-control" id="inputURL" name="clone_url" placeholder="Enter URL">
  </div>
  <div class="form-group">
    <label class="sr-only" for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
  </div>
 <button type="submit" class="btn  btn-lg btn-primary">Submit</button>

<h2><a href="index.html"> Or go to current list of repositories </h2>

</body>
</html>