{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block head %}
{% endblock %}

{% block page_title %}
    <p class="navbar-text">Viacom Version Visualizer</p>
{% endblock %}

{% block content %}
	<div class="container" style="min-height:100% width:80%">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
	</div>

{% include 'index_available.html' %}

<script>
    document.getElementById("help").style.display = 'block';
    document.getElementById("help").innerHTML = "<div><p>Inspired by Adam Tornhill's book <u><i>Your Code as a Crime Scene</i></u>, this web application is designed assist in locating problem areas in your code, finding ways to improve it, and eliminating productivity sinks. This is done by analyzing your version-control history and highlighting aspects of this history for you to analyze.</p></div><div><ul><li><strong>Step One: </strong>Select a project and repository from the drop-down menu.</li><li><strong>Step Two: </strong>Choose a date range by inputting dates or clicking and dragging on the interactive date picker (white lines represent commits).</li><li><strong>Step Three: </strong>Click Run Analysis.</li></ul></div>";
</script>
{% endblock %}
