<!DOCTYPE html>

<html>
<head>
  {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> 
    <script src="{{ url_for('static', filename='jquery-1.12.3.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    <!-- <script src = "../static/jquery-1.12.3.js"></script> -->
    <!-- <link rel=stylesheet type=text/css href='../static/bootstrap.css'> -->
    <!-- <script src = "../static/bootstrap.js"></script>  -->
    <title>{% block title %}{% endblock %} - V3</title>
  {% endblock %}
</head>

<body>


<form method="POST" enctype="multipart/form-data">

  <center>
  <!-- <div class="row"> -->
  <div class="col-md-8 col-md-offset-2">
    <!-- <div class="col-lg-12"> -->
    <!-- <div class="btn-group" data-toggle="buttons"> -->
    {% for project in list_of_projects %}
      <label class="btn">
        <button class="project" type="submit" name="submit_button" value={{project}} autocomplete="off">
          {{project}}
        </button>
      </label>
    {% endfor %}
      <!-- <label class="btn active">
        <input type="radio" class="list-group-item" name="options" id="option2" autocomplete="off"> Blank Radio
      </label> -->
    <!-- </div> -->
    <br>
    <br>
    <br>
<!--       <p>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" href="#">
          View details &raquo;
        </button>
      </p> -->
      <!-- <p>
        <button type="submit" id="nextbutton" name="submit_button" value="3" class="btn btn-lg btn-primary" role="button">
          Next
        </button>
      </p> -->
    </div>
  </center>
</form>

<!-- modal for viewing project details
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Project Details</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->

<script>
  //   $.('#nextbutton').click(function () {
  //   var $btn = $(this);
  //   $btn.button('loading');
  //   // $btn.button('reset')
  // });
    $("#nextbutton").click(function() {
    var $btn = $(this);
    $btn.button('loading');
});
</script>
</body>
</html>