<!DOCTYPE html>

<html>
<head>
  {% block head %}
    <title>{% block title %}{% endblock %} - V3</title>
  {% endblock %}
</head>

<body>

<form method="POST" enctype="multipart/form-data">

<h2>Select a Repository:</h2>
<br>
<center><div id="timetag"></div></center>
<p>
  <div class="col-lg-6">
    <div class="form-group">
      <label for="formInput">Enter Start Date: (yyyy-mm-dd)</label>
      <p>(Default: 2 months ago)</p>
      <input type="date" class="form-control" id="formInput" name="from_date" value="{{previous_date}}">
    </div>
    <div class="form-group">  
      <label for="formInput">Enter End Date: (yyyy-mm-dd)</label>
      <p>(Default: Today)</p>
      <input type="date" class="form-control" id="formInput" name="to_date" value="{{current_date}}">
    </div>
  <!-- <p>
    <label>Select a repository type:</label>
    <br>
    <input type="checkbox" name='checkbox' value="summary"> Summary
    <input type="checkbox" name='checkbox' value="metrics"> Metrics
    <input type="checkbox" name='checkbox' value="coupling"> Coupling
    <input type="checkbox" name='checkbox' value="hotspots"> Hotspots
    <input type="hidden" name='checkbox' value="0">
  </p> -->
  </div>
</p>

<div class="col-lg-6">
  <center>
  <div class="list">
    <div class="btn-group btn-group-vertical" data-toggle="buttons">
    {% for repo in repo_list %}
      <label class="btn active" onclick="displayTime(this)">
        <input type="radio" name="repo_name" value="{{repo}}" autocomplete="off">
        {{repo.split('|')[0]}}
      </label>
    {% endfor %}
    </div>
  </div>
  </center>
  <!-- <p>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" href="#">
      View details &raquo;
    </button>
  </p> -->
</div>   
<br>
<br>
<center>
  <p>
    <button type="submit" name="submit_button" value="refresh" id="nextbutton" class="btn btn-lg btn-primary" role="button">
      Refresh
    </button>
    <button type="submit" name="submit_button" value="available" id="nextbutton" class="btn btn-lg btn-primary" role="button">
      Next
    </button>
  </p>
</center>   
      
</form>

<!-- <button onclick="test_name()">Check name</button> -->
  
<!-- modal for viewing repository details
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Repository Details</h4>
      </div>
      <div class="modal-body">
        {# not used yet
        {% for repo in repo_list %}
          {% if repo == project_name %}
              {{project_description}}
          {% endif %}
        {% endfor %}
          #}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->

<script>
function displayTime(elem) {
  var timetag = elem.children[0].value.split('|');
  $("#timetag").text(timetag[0] + ' updated as of: ' + timetag[1]);
}

function test_name() {
  var value = $('input[name=repo_name]:checked').val();
  alert(value);
}

// $btn.button('reset')
$("#nextbutton").click(function() {
  var $btn = $(this);
  $btn.button('loading');
});
</script>
</body>
</html>