<!DOCTYPE html>

<html>
<head>
  {% block head %}
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> 
    <script src="{{ url_for('static', filename='jquery-1.12.3.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    <!-- <script src = "../static/jquery-1.12.3.js"></script> -->
    <!-- <link rel=stylesheet type=text/css href='../static/bootstrap.css'> -->
    <!-- <script src = "../static/bootstrap.js"></script>  -->
    <title>{% block title %}{% endblock %} - V3</title>
  {% endblock %}
</head>

<body>

<style> body{
  font-family: 'Roboto Slab', serif;
}
</style>
<!-- 
  <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="index">Home</a></li>
            <li role="presentation"><a href="about.html">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <a class="navbar-brand" href="/">V3</a>
      </div>    
  </nav> -->

<h1>Select a Project</h1>


<form method="POST" enctype="multipart/form-data">

  <div class="row">
    <div class="col-lg-6">
      <h2>Select a Project:</h2>
    <div class="btn-group btn-group-vertical" data-toggle="buttons">
    {% for project in list_of_projects %}
      <label class="btn active">
        <input type="radio" name="project_name" value={{project}} autocomplete="off">{{project}}
      </label>
    {% endfor %}
      <label class="btn active">
        <input type="radio" class="list-group-item" name="options" id="option2" autocomplete="off"> Blank Radio
      </label>
    </div>
    <br>
    <br>
      <p>
        <a type="submit" class="btn btn-info" href="#" role="button">
          View details &raquo; 
        </a>
      </p>
    </div>
  <p>
      <button type="submit" id="nextbutton" name="submit_button" value="3" class="btn btn-lg btn-primary" role="button">
        Next
      </button>
  </p>
  </form>

<script>
  //   $.('#nextbutton').click(function () {
  //   var $btn = $(this);
  //   $btn.button('loading');
  //   // $btn.button('reset')
  // });
    $("#nextbutton").click(function() {
    var $btn = $(this);
    $btn.button('loading');
});
</script>
</body>
</html>