{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block head %}
{% endblock %}

{% block page_title %}
    <p class="navbar-text">Viacom Version Visualizer</p>
{% endblock %}

{% block content %}
<h3>Create an analysis by selecting a repository using one of the three options:</h3>
	<div class="container" style="min-height:100% width:80%">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
	</div>

<!-- <form method="POST" enctype="multipart/form-data"> -->
<ul id="tabs" class="nav nav-tabs nav-justified"  data-tabs="tabs">
    <li role="presentation" class="active"><a href="#tab2" data-toggle="tab">Available Repositories</a></li>
    <li role="presentation" ><a href="#tab3" data-toggle="tab">Find a Repository</a></li>
    <li role="presentation" ><a href="#tab1" data-toggle="tab">Clone a Repository</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in" id="tab1">
    	{% include 'clone.html' %}
    </div>
    <div class="tab-pane fade in active" id="tab2">
        {% include 'index_available.html' %}
    </div>
    <div class="tab-pane fade in" id="tab3">
        {% include 'index_project.html' %}
    </div>
</div>

<script>
    document.getElementById("help").innerHTML = "<div><h2>Repository Selection</h2><p>This web based application is for obtaining more insight towards you/your team's work by analyzing your repositories and highlighting any deficiences and potential problems in your code. With this app, you are able to view your repository from a developmental and technical standpoint, allowing you to easily find areas to improve on.</p></div><div><ul><li><strong>Available Repositories: </strong>Select from the list of locally available repositories.</li><li><strong>Find a Repository: </strong>Displays a list of available projects from MTVI directory on stash.</li><li><strong>Clone a repository: </strong>You can upload a remote repository of your choosing, as long you provide an authentic stash clone URL and password.</li></ul></div>";
</script>
{% endblock %}