<!DOCTYPE html>

<html>
<head>
  {% block head %}
    <title>{% block title %}{% endblock %} - V3</title>

  <script type="text/javascript">
  $(function() {
    $('select#project').bind('change', function() {
      $("#repo").empty()
                .prop("disabled", true)
                .append("<option>Loading Repos...</option>");
      $.getJSON($SCRIPT_ROOT + '/_return_repos', {
        key: $("#project").find(":selected").val()
      }, function(data) {
        if (data.result === ""){
          $("#repo").empty()
                    .prop("disabled", true)
                    .append("<option>No Repos Available</option>");
        }
        else {
          $('#repo').prop( "disabled", false )
                    .empty()
                    .append("<option value='' disabled selected>Select a Repo</option>")
                    .append(data.result);
        }
      });
      return false;
    });
  });
  $(function() {
    $('#repo').bind('change', function() {

      $.getJSON($SCRIPT_ROOT + '/_return_repo_dates', {
        key: $("#project").find(":selected").val(),
        name: $("#repo").find(":selected").val()
      }, function(data) {
        if (data.result === ""){
          console.log("boo")
        }
        else {
          $("#previousDate").val(data.result[data.result.length-1].timestamp);
          $("#currentDate").val(data.result[0].timestamp);
        }
      });
      return false;
    });
  });
  </script>
  {% endblock %}
</head>

<body>

<form method="POST" enctype="multipart/form-data">

<div class="">
  <label>Select a Project: </label>
  <select id="project">
    <option value="" disabled selected>Select a Project</option>
    {% for project in list_of_projects %}
     <option value="{{project[0]}}">{{project[1]}}</option>
    {% endfor %}
  </select>
</div>
<div class="">
  <label>Select a Repository:</label>
  <select id="repo" disabled="true" name='repo_name'>
    <option value="" disabled selected>Select a project first</option>
  </select>
</div>

<br>
<center><div id="timetag"></div></center>
<p>
  <div class="col-lg-6">
    <div class="form-group">
      <label for="formInput">Enter Start Date:</label>
      <p>(Default: First commit date)</p>
      <input type="date" class="form-control" id="previousDate" name="from_date" value="">
    </div>
    <div class="form-group">
      <label for="formInput">Enter End Date:</label>
      <p>(Default: Latest commit date)</p>
      <input type="date" class="form-control" id="currentDate" name="to_date" value="">
    </div>
  <!-- <p>
    <label>Select a repository type:</label>
    <br>
    <input type="checkbox" name='checkbox' value="summary"> Summary
    <input type="checkbox" name='checkbox' value="metrics"> Metrics
    <input type="checkbox" name='checkbox' value="coupling"> Coupling
    <input type="checkbox" name='checkbox' value="hotspots"> Hotspots
    <input type="hidden" name='checkbox' value="0">
  </p> -->
  </div>
</p>

<br>
<br>
<center>
  <p>
    <button type="submit" name="submit_button" value="refresh" id="nextbutton" class="btn btn-lg btn-primary" role="button">
      Refresh
    </button>
    <button type="submit" name="submit_button" value="available" id="nextbutton" class="btn btn-lg btn-primary" role="button">
      Next
    </button>
  </p>
</center>

</form>

<!-- <button onclick="test_name()">Check name</button> -->

<!-- modal for viewing repository details
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Repository Details</h4>
      </div>
      <div class="modal-body">
        {# not used yet
        {% for repo in repo_list %}
          {% if repo == project_name %}
              {{project_description}}
          {% endif %}
        {% endfor %}
          #}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->

<script>
function displayTime(elem) {
  var timetag = elem.children[0].value.split('|');
  if (timetag[1] != undefined) {
    $("#timetag").text(timetag[0] + ' updated as of: ' + timetag[1]);
    $("#previousDate").val(timetag[2]);
    $("#currentDate").val(timetag[3]);
  }
}

function test_name() {
  var value = $('input[name=repo_name]:checked').val();
  alert(value);
}

// $btn.button('reset')
$("#nextbutton").click(function() {
  var $btn = $(this);
  $btn.button('loading');
});
</script>
</body>
</html>
