{% extends "layout.html" %}

{% block title %} Dashboard {% endblock %}

{% block head %}

<script>
var delay = 1000;
function update_progress(status_url) {
  $.getJSON(status_url, function(data){
    display_available(data['state'])
    console.log(data['state'])
    if (data['state'] == 'FAILURE') {
      console.log('FAILURE in update_progress')
    }
    else {
      if (delay < 5000) delay += 1000;
      // rerun in 2 seconds
      setTimeout(function() {
        update_progress(status_url);
      }, delay);
    }
  })
}

function display_available(state) {
  switch(state) {
    case 'CLONING':
      break;
    case 'ANALYZING':
      break;
    case 'SUCCESS':
    case 'NULL':
      $('.progress').hide()
    case 'complexity':
      $('#complexity').show();
    case 'churn':
      $('#churn').show();
    case 'coupling':
      $('#coupling').show();
    case 'hotspots':
      $('#hotspots').show();
    case 'metrics':
      $('#metrics').show();
    case 'cloud':
      $('#cloud').show();
    default:
      break;
  }

  switch(state) {
    case 'CLONING':
      $('.progress-bar').html('Cloning');
      break;
    case 'ANALYZING':
      $('.progress-bar').html('Analyzing Commit Messages');
      break;
    case 'SUCCESS':
    case 'NULL':
      $('#analysis-header').html('Select an Analysis:')
      break;
    case 'complexity':
      $('.progress-bar').html('Analysis Complete');
      break;
    case 'churn':
      $('.progress-bar').html('Analyzing Complexity');
      break;
    case 'coupling':
      $('.progress-bar').html('Analyzing Code Churn');
      break;
    case 'hotspots':
      $('.progress-bar').html('Analyzing Coupling');
      break;
    case 'metrics':
      $('.progress-bar').html('Analyzing Hotspots');
      break;
    case 'cloud':
      $('.progress-bar').html('Analyzing Metrics');
      break;
    default:
      break;
  }
}

$(function() {
  var surl = '{{ location }}'
  if (surl != 'NULL'){
    update_progress(surl)
  }
  else {
    display_available(surl)
  }
})
</script>
{% endblock %}

{% block content %}
<div class="container" style="min-height:100% width:80%">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
    </button>
    {{message}}
    </div>
  {% endfor %}
  {% endif %}
{% endwith %}
</div>

<center>
  <h2 id='analysis-header'>Running Analysis</h2>
  <div class="progress" style='width:50%; height:36px;'>
    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%; line-height:36px; font-size:16px;">

      Pending in Queue
    </div>
  </div>
</center>

<br>
<form method="POST" enctype="multipart/form-data">
<center>
<div class="thumb-container">

  <div id='cloud' class="col-sm-6 col-md-4 dashboard">
    <div class="thumbnail">
      <button type="submit" name="analysis" value="cloud" class='button-nostyle'>
        <img src="../static/images/thumbnail_cloud.png" alt="Word Cloud" width="100%">
        <div class="caption">
          <h3>Word Cloud</h3>
          <p>View a visual representation of your repository's commit messages.</p>
        </div>
      </button>
    </div>
  </div>

  <div id='metrics' class="col-sm-6 col-md-4 dashboard">
    <div class="thumbnail">
    <button type="submit" name="analysis" value="metrics" class='button-nostyle'>
      <img src="../static/images/thumbnail_metrics.png" alt="Metrics Bargraph" width="100%">
      <div class="caption">
        <h3>Metrics</h3>
        <p>View the amount of effort (revisions and authors) that went into each module.</p>
      </div>
    </button>
    </div>
  </div>

  <div id='hotspots' class="col-sm-6 col-md-4 dashboard">
    <div class="thumbnail">
    <button type="submit" name="analysis" value="hotspots" class='button-nostyle'>
      <img src="../static/images/thumbnail_hotspots.png" alt="Hotspots Bubble-Pack" width="100%">
      <div class="caption">
        <h3>Hotspots</h3>
        <p>Find potential problem children within your code base.</p>
      </div>
    </button>
    </div>
  </div>

  <div id='coupling' class="col-sm-6 col-md-4 dashboard">
    <div class="thumbnail">
    <button type="submit" name="analysis" value="coupling" class='button-nostyle'>
      <img src="../static/images/thumbnail_coupling.png" alt="Coupling Donuts" width="100%">
      <div class="caption">
        <h3>Coupling</h3>
        <p>Look at the relational history of your modules and locate dependencies</p>
      </div>
    </button>
    </div>
  </div>

  <div id='churn' class="col-sm-6 col-md-4 dashboard">
    <div class="thumbnail">
    <button type="submit" name="analysis" value="churn" class='button-nostyle'>
      <img src="../static/images/thumbnail_churn.png" alt="Line Curn Graph" width="100%">
      <div class="caption">
        <h3>Line Churn</h3>
        <p>View the code history of your modules. Compare the number of lines added vs those deleted.</p>
      </div>
    </button>
    </div>
  </div>

  <div id='complexity' class="col-sm-6 col-md-4 dashboard">
    <div class="thumbnail">
    <button type="submit" name="analysis" value="complexity" class='button-nostyle'>
      <img src="../static/images/thumbnail_complexity.png" alt="Complexity Line Graph" width="100%">
      <div class="caption">
        <h3>Complexity</h3>
        <p>View indentation trends in each module over time.</p>
      </div>
    </button>
    </div>
  </div>

</div>
</center>
</form>

<script>
    document.getElementById("help").innerHTML = "<div><h2>Dashboard</h2><p>Welcome to the dashboard, your one stop shop for repository analysis. Each visualization will inform you of various aspects of the project and, hopefully, accelerate your development process.</p></div><div><p>This page is super simple, just browse through the different visualizations and click on the one that catches your fancy.</p></div>";
</script>
{% endblock %}
