<!DOCTYPE html>

<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> 
<title>V3</title>
</head>

<!-- working on radio selections -->
<body>
	<form method="post" enctype="multipart/form-data">
		<!-- <input type="file" name="data" accept="file_extension"> -->
		<input type="radio" name="chart">repo1</input>
		<!-- <input type="radio" name="bar" id="bar" accept = "file_extension" value = "output2.html"> bar </input>
		<input type="radio" name="options" id="option3" value="option3"> Option3 </input> -->
		<button type="submit">Show Results</button>
	</form> 

</body>
</html>