<!DOCTYPE html>

<html>
<head>
    <title>V3 - {% block title %} {% endblock %}</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> 

    <script src="{{ url_for('static', filename='jquery-2.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    {% block head %} {% endblock %}
</head>

<script>
$(document).ready(function(){
    $(".help-pill").click(function(){
        $(".help-div").toggle(250);
    });
});
</script>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <nav>
            <ul class="nav nav-pills" style="position: absolute; right: 10%; display: inline;">
                <li role="navigation"><a href="/">Home</a></li>
                <li role="navigation" class="help-pill"><a href="#">Help</a></li>
                {% block nav_injection %} {% endblock %}
            </ul>
        </nav>
        <a class="navbar-brand navbar-left" href="/"> <img alt="V3" src="../static/images/V3_Logo.svg" height="40px"></a>
        {% block page_title %} {% endblock %}
    </div>
</nav>

<div class="help-div"><p id="help" class="help-drop"></p></div>

<div id="content-div">
{% block content %} {% endblock %}
</div>

</body>
</html>

